* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  background-color: dodgerblue;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.logo p {
  font-size: 3rem;
}

.nav ul {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 15px;
  padding: 10px;
}

.intro h1 {
  color: dodgerblue;
}

.signupAlert {
  display: none;
}

.alert {
  display: flex;
  justify-content: center;
  width: 70%;
  /* text-align: center; */
  background-color: rgba(30, 143, 255, 0.6);
  margin: 0 15%;
  padding: 1%;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  /* background-color: blue; */
  padding: 5% 10%;
  /* transition: 5s ease-in-out; */
}

.card {
  background-color: rgb(0, 140, 255);
  padding: 10%;
  border-radius: 6%;
  cursor: pointer;
}

.logoT,
.logoS {
  display: block;
  color: #fff;
  text-align: center;
}

.logoT h3,
.logoS h3 {
  padding: 20px 0;
}

.teacherF,
.studentF {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TeacherCard:hover,
.StudentCard:hover {
  box-shadow: 3px 5px 15px 3px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.TeacherCard,
.StudentCard {
  transition: all 0.4s ease-in-out;
}

footer {
  /* border: 5px solid #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 140, 255);
  padding: 2%;
  margin-top: -0.5%;
}

footer p {
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 2% 0;
  color: #fff;
}

.social {
  /* background-color: rgb(167, 22, 22); */
  padding: 1% 0;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.social a {
  text-decoration: none;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}

.social a:hover {
  transform: rotate(360deg);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#f {
  padding: 12px 12px 10px 12px;
  color: rgb(0, 60, 255);
}

#i {
  padding: 12px 12px 10px 12px;
  color: #e1306c;
}

#t {
  padding: 12px 11px 10px 11px;
  color: #00acee;
}
